<header class="site-header" role="banner">

  <div class="wrapper"><a class="site-title" rel="author" href="/">HeRo 2.0</a><nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </label>

<!--         <div class="trigger">
          <a class="page-link" href="/hero_common/">Home</a> 
          <a class="page-link" href="/hero_common/">News</a> 
          <a class="page-link" href="/hero_common/">Publications</a>
          <a class="page-link" href="/hero_common/hero">Tutorial</a>
          <div class="trigger">
            <a class="page-link" href="/hero_common/hero">Instalation</a>
            <a class="page-link" href="/hero_common/hero">Simulation</a>
            <a class="page-link" href="/hero_common/hero">Assembly</a>
            <a class="page-link" href="/hero_common/hero">Firmware Programming</a>
            <a class="page-link" href="/hero_common/hero">ROS Programming</a>
          </div>
          <a class="page-link" href="/hero_common/about/">About</a>
        </div> -->
    
<li id="Phf"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Problems? &#8681;</a>
  <ul class="dropdown-menu" role="menu" style="color:red">
    <li><a href="study-problems-and-issues.html">Study problems & non-interests</a></li>
    <li><a href="#">Poor Learning ability</a></li>
    <li><a href="why-my-memory-is-so-weak.html">Is MEMORY too WEAK?</a></li>
    <li><a href="why-my-memory-is-so-weak.html">Lack of Concentration</a></li

    <li><a href="#">Unable to Perform your work well?</a></li>
    <li><a href="#">Poor Work Performance</a></li>
    <li><a href="why-life-is-such-painful-depressed-lazy-joyless-and-unhappy.html">Depressed or Unhappy Life</a></li>
    <li><a href="#">Parenting Failures</a></li>
  </ul>
</li>
    
    
      </nav></div>
</header>
