<launch>
  <arg name="camera" default="usb_cam" />
  <arg name="num_worker_threads" default="4" />
  <arg name="manager" value="$(arg camera)_nodelet_manager" />

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="camera_info_url" value="file://$(find hero_ar_tracker)/config/camera_calibration.yaml"/>
    <param name="video_device" value="/dev/video2" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
    <param name="pixel_format" value="mjpeg" />
    <param name="focus_automatic_continuous" value="false"/>
    <!-- <param name="focus" value="0"/> -->
    <!-- <param name="contrast" value="180"/> -->
    <!-- <param name="brightness" value="212"/> -->
    <!-- <param name="sharpness" value="212"/> -->
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

  <group ns="$(arg camera)">
    <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen">
       <param name="num_worker_threads" value="$(arg num_worker_threads)" />
    </node>

    <include file="$(find image_proc)/launch/image_proc.launch">
      <arg name="manager" value="$(arg manager)" />
    </include>
  </group>
</launch>
