<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="verbose" value="true"/>
    <!--arg name="paused" value="true"/-->
    <arg name="use_sim_time" value="true"/>
    <arg name="world_name" value="$(find hero_gazebo)/worlds/hero.world"/>
    <!-- more default parameters can be changed here -->
  </include>

  <include file="$(find hero_gazebo)/launch/hero_spawn.launch">
    <arg name="x" value="0.5"/>
    <arg name="y" value="0.5"/>
    <arg name="z" value="0"/>
    <arg name="id" value="0"/>
  </include>

</launch>
