<launch>
  <arg name="x" default="0.2"/>
  <arg name="y" default="0.2"/>
  <arg name="z" default="0"/>
  <arg name="id" default="1"/>

  <group ns="hero_$(arg id)">
    <!-- Convert an xacro and put on parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find hero_description)/robot/hero.urdf.xacro" />
    <!-- Spawn a robot into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_$(arg id) -x $(arg x) -y $(arg y) -z $(arg z) -param robot_description" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="40.0" />
      <param name="tf_prefix" value="/hero_$(arg id)"/>
    </node>
    <!-- Script to blink heros hat -->
    <!--node name="blink_controller" pkg="hero_examples" type="blink_controller.py" args="/hero_$(arg id)" output="screen"/-->
    <node name="potentital_field_controller" pkg="hero_examples" type="potential_field.py" args="/hero_$(arg id)" output="screen"/>
  </group>

</launch>
