<launch>
  <arg name="x" default="0.2" />
  <arg name="y" default="0.2" />
  <arg name="z" default="0" />
  <arg name="id" default="1" />
  <arg name="type" default="0" />

  <group ns="hero_$(arg id)">
    <!-- Convert an xacro and put on parameter server -->
    <!-- $(find hero_description)/robot/hero.urdf.xacro  -->
    <param name="id" type="int" value="$(arg id)"/>
    <param name="type" type="int" value="$(arg type)"/>
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find hero_description)/robot/hero_light.urdf.xacro" />

    <!-- Spawn a robot into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_$(arg id) -x $(arg x) -y $(arg y) -z $(arg z) -param robot_description" />

    <node pkg="tf" type="static_transform_publisher" name="odom_broadcaster" args="0 0 0 0 0 0 /world /hero_$(arg id)/odom 5" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="30.0" />
      <param name="tf_prefix" value="/hero_$(arg id)" />
    </node>

    <!-- Script to blink heros hat -->
    <!-- <node name="blink_controller" pkg="hero_examples" type="blink_controller.py" args="/hero_$(arg id)" output="screen"/> -->
    <!-- Script to position position control -->
    <!-- <node name="potentital_field_controller" pkg="hero_examples" type="potential_field.py" args="/hero_$(arg id)" output="screen"/> -->

  </group>

</launch>
