<launch>
    <include file="$(find hero_gazebo)/launch/hero_spawn.launch">
      <arg name="x" value="1.0"/>
      <arg name="y" value="1.0"/>
      <arg name="z" value="0.55"/>
      <arg name="id" value="0"/>
    </include>
  
    <include file="$(find hero_gazebo)/launch/hero_spawn.launch">
      <arg name="x" value="-1"/>
      <arg name="y" value="1.3"/>
      <arg name="z" value="0.55"/>
      <arg name="id" value="1"/>
    </include>
  
    <include file="$(find hero_gazebo)/launch/hero_spawn.launch">
      <arg name="x" value="-1.5"/>
      <arg name="y" value="1.3"/>
      <arg name="z" value="0.55"/>
      <arg name="id" value="2"/>
    </include>
  
    <include file="$(find hero_gazebo)/launch/hero_spawn.launch">
      <arg name="x" value="-1.5"/>
      <arg name="y" value="-1.3"/>
      <arg name="z" value="0.55"/>
      <arg name="id" value="3"/>
    </include>
  
    <include file="$(find hero_gazebo)/launch/hero_spawn.launch">
      <arg name="x" value="-1.7"/>
      <arg name="y" value="-0.1"/>
      <arg name="z" value="0.55"/>
      <arg name="id" value="4"/>
    </include>

    <include file="$(find hero_gazebo)/launch/hero_spawn.launch">
        <arg name="x" value="1.7"/>
        <arg name="y" value="-0.1"/>
        <arg name="z" value="0.55"/>
        <arg name="id" value="5"/>
      </include>
  
      <include file="$(find hero_gazebo)/launch/hero_spawn.launch">
        <arg name="x" value="0.1"/>
        <arg name="y" value="-0.1"/>
        <arg name="z" value="0.55"/>
        <arg name="id" value="6"/>
      </include>

      <include file="$(find hero_gazebo)/launch/hero_spawn.launch">
        <arg name="x" value="0.3"/>
        <arg name="y" value="-0.3"/>
        <arg name="z" value="0.55"/>
        <arg name="id" value="7"/>
      </include>

      <include file="$(find hero_gazebo)/launch/hero_spawn.launch">
        <arg name="x" value="-0.3"/>
        <arg name="y" value="-0.4"/>
        <arg name="z" value="0.55"/>
        <arg name="id" value="8"/>
      </include>

      <include file="$(find hero_gazebo)/launch/hero_spawn.launch">
        <arg name="x" value="-0.5"/>
        <arg name="y" value="-0.8"/>
        <arg name="z" value="0.55"/>
        <arg name="id" value="9"/>
      </include>
  
  </launch>
