<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Laser plugin -->
    <gazebo reference="laser_link">
        <sensor type="gpu_ray" name="hero_laser_sensor">
            <pose>0 0 0.051 0 0 0</pose>
            <visualize>false</visualize>
            <update_rate>20</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>16</samples>
                        <resolution>1</resolution>
                        <min_angle>${-PI}</min_angle>
                        <max_angle>${PI}</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.038</min>
                    <max>0.20</max>
                    <resolution>0.04</resolution>
                </range>
            </ray>
            <plugin name="gazebo_ros_hero_laser" filename="libgazebo_ros_gpu_laser.so">
                <topicName>laser</topicName>
                <frameName>laser_link</frameName>
                <gaussianNoise>0.001</gaussianNoise>
                <updateRate>20</updateRate>
            </plugin>
        </sensor>
    </gazebo>

</robot>