<launch>
    <param name="/robot_description" textfile="$(find hero_description)/robot/hero.urdf"/>
    <node pkg="rosserial_python" type="serial_node.py" name="hero_bringup" respawn="true" output="screen">
        <param name="fork_server" value="False"/>
        <param name="port" value="tcp"/>
        <param name="tcp_port" value="11411"/>
    </node>
</launch>
